{#{% extends "standard_content.html" %}#}
{% extends "core/table_filter_generic.html" %}

{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


{% block content %}
    <h1 class="govuk-heading-l">{{ section_name }}</h1>
    <p>{{ section_description }}</p>
    {% csrf_token %}
    {% if filter %}
                    <div>


            <form action="" method="get" class="govuk-table govuk-form-group govuk-table__cell">

            <table>
                <tbody>
                <tr> {{ filter.form.media }}{# Adds date-picker required JS and CSS #}
                {{ filter.form.as_table }}

                <td><button type="submit" class="govuk-button">Search</button></td></tr>
                </tbody>
                                    </table>



        </form>
                                            <td>Record returned: {{ table.rows|length }}</td>

                                </div>


    {% endif %}
    <br>



    <p></p>
    <a class="govuk-button govuk-button--secondary" href="{% querystring '_export'='xlsx' %}">Download to Excel</a>

    {% render_table table %}
    </div>
{% endblock %}