{% extends "standard_content.html" %}

{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


{% block content %}
    <h1 class="govuk-heading-l">{{ section_name }}</h1>
    <p>{{ section_description }}</p>
    {% csrf_token %}
    {% if filter %}

        <div id="search-div" class="govuk-table">

            <form action="" method="get" class="govuk-body">
            <table id="result_list" class="govuk-form-group govuk-body container">
                <tbody class="govuk-form-group">
                <tr class="govuk-label"> {{ filter.form.media }} </tr>{# Adds date-picker required JS and CSS #}
                <tr class="govuk-label"> <td><p>{{ filter.form.as_table }}</tr></td></p>

                <tr><td><button type="submit" class="govuk-button">Search</button></td></tr>
                </tbody>
            </table>
        </form>
    {% endif %}
    <br>
    <td>Record returned: {{ table.rows|length }}</td>
            </div>



    <p></p>
    <a class="govuk-button govuk-button--secondary" href="{% querystring '_export'='xlsx' %}">Download to Excel</a>

    {% render_table table %}
    </div>
{% endblock %}