{% load sass_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load forecast_permissions %}
{% load upload_permissions %}
<!DOCTYPE html>
<html lang="en" class="govuk-template ">

<head>
    {% if not settings.DEBUG %}
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{ settings.GTM_CODE }}');</script>
        <!-- End Google Tag Manager -->
    {% endif %}
    <meta charset="utf-8"/>
    {% block title %}<title>FIDO</title>{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico" type="image/x-icon"/>
    <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png">

    <link href="{% sass_src 'core/css/styles.scss' %}" rel="stylesheet" type="text/css"/>

    {% load static %}
    <meta property="og:image" content="/assets/images/govuk-opengraph-image.png">
</head>

<body class="govuk-template__body {{ request.resolver_match.url_name }} {{ view.class_name }}">
{% if not settings.DEBUG %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ settings.GTM_CODE }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
{% endif %}
<script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
</script>

<a href="#main-content" class="govuk-skip-link">Skip to main content</a>

<header class="datahub-header js-datahub-header datahub-header--max-width js-datahub-header-enabled" role="banner"
        data-module="header">
    <div class="datahub-header__logo-container">
        <div class="datahub-header__logo"><span class="datahub-header__logo__site-name">Department for International Trade</span>
            <a href="/" class="datahub-header__logo__link"><span class="datahub-header__logo__text">Financial Forecast Tool</span></a>
            <strong class="datahub-header__logo__tag">beta</strong></div>
        <ul id="logo-navigation" class="datahub-header__links" aria-label="Header links">
            <li class="datahub-header__links__item"><a class="datahub-header__links__item__text"
                                                       href="/support">Support</a></li>
            <li class="datahub-header__links__item"><a class="datahub-header__links__item__text" href="/profile">Ross
                Miller</a></li>
            <li class="datahub-header__links__item"><a class="datahub-header__links__item__text" href="/oauth/sign-out">Sign
                out</a></li>
        </ul>
    </div>
{#    <button role="button" class="datahub-header__menu-button js-datahub-header-toggle"#}
{#            aria-controls="navigation sub-navigation logo-navigation" aria-label="Show or hide navigation">Menu#}
{#    </button>#}
    <div class="datahub-header__navigation-container">
        <nav class="datahub-header__navigation-wrapper">
            <ul id="navigation" class="datahub-header__navigation" aria-label="Top Level Navigation">

                <li class="datahub-header__navigation__item {% if request.path == '/forecast/costcentre/' %}datahub-header__navigation__item__link--active{% endif %}">
                    <a class="datahub-header__navigation__item__link" href="{% url 'chart_of_account_choose_year' %}">
                        Chart of Account
                    </a>
                </li>

                    <li class="govuk-header__navigation-item {% if request.path == '/forecast/edit/' %}govuk-header__navigation-item--active{% endif %}">
                        <a class="govuk-header__link" href="{% url 'gifts_hospitality:quick_links' %}">
                            Gifts &amp; Hospitality Register
                        </a>
                    </li>

                {% is_forecast_user user as is_forecast_user %}
                {% if is_forecast_user == True %}
                    <li class="datahub-header__navigation__item {% if request.path == '/forecast/dit/' %}datahub-header__navigation__item__link--active{% endif %}">
                        <a class="datahub-header__navigation__item__link" href="/forecast/dit/">
                            View Forecast
                        </a>
                    </li>
                    {% has_edit_permission user as has_edit_permission %}
                    {% if has_edit_permission == True %}
                        <li class="datahub-header__navigation__item {% if request.path == '/forecast/choose-cost-centre/' %}datahub-header__navigation__item__link--active{% endif %}">
                            <a class="datahub-header__navigation__item__link" href="/forecast/choose-cost-centre/">
                                Edit forecast
                            </a>
                        </li>
                    {% endif %}
                    {% has_upload_permission user as has_upload_permission %}
                    {% if has_upload_permission == True %}
                    <li class="datahub-header__navigation__item {% if request.path == '/upload/files/' %}datahub-header__navigation__item__link--active{% endif %}">
                        <a class="datahub-header__navigation__item__link" href="/upload/files/">
                            Uploaded files
                        </a>
                    </li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    </div>
</header>


<div class="govuk-width-container">
    {% block breadcrumbs %}
        {% breadcrumb "Home" "index" %}
    {% endblock %}
    {% render_breadcrumbs "breadcrumbs.html" %}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        {% block content %}{% endblock %}
    </main>
</div>

{% block scripts %}
    <script src="/static/govuk/all.js"></script>
    <script>
        window.GOVUKFrontend.initAll()
    </script>
{% endblock %}
</body>
</html>